@{
}

@model IEnumerable<Appointment>

<div>
    <table class="table">
        <thead>
            <th>Appointment Time</th>
            <th>Group Name</th>
            <th># of Members</th>
            <th>Email</th>
            <th>Phone</th>
        </thead>
        <tbody>
            @foreach (var a in Model)
            {
                <tr>
                    <td>@a.AppointmentTime</td>
                    <td>@a.GroupName</td>
                    <td>@a.GroupSize</td>
                    <td>@a.Email</td>
                    <td>@a.Phone</td>
                </tr>
            }
        </tbody>
    </table>
</div>